@media (max-width: 576px) {
  .toggle_container {
    padding: 20px;
  }
  .toggle_container .toggle {
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
  }

.monthly_text,
  .monthly_text.active,
  .yearly_text,
  .yearly_text.active {
    font-size: 12px;
  }

/* toogle system responsive end  */

.main_price_container {
  max-width: 100%;
  padding: 10px;
}


.Monthly_container,
  .yearly_container {
    width: 100%;
    flex-direction: column;
  }
.Monthly_container {
      width: 576px;
  flex-direction: column;
}


 .Monthly_container .card,
  .yearly_container .card {
    flex: 1;
    width: 100%;
  }

.card::before{
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: linear-gradient(45deg,rgba(78, 154, 253, 0.557),rgb(90, 66, 193));
  border-radius: 50px;
  top: -20px;
  right: -20px;
  filter: blur(50px);
  backdrop-filter: blur(4px);
  opacity: 0.3;
}


}
