*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #f6f5fa;
  --secColor: #7a92f4;
  --textColor: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: var(--background);
}
body.active{
  background: rgb(17, 21, 43);
  color: rgb(226, 226, 226);
}

.dark_light_mood{
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;

}
.dark_light_mood button{
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(231, 231, 231);
  color: rgb(23, 33, 42);
}
.main_price_container {
  max-width: 900px;
  padding: 50px 15px;
}

/* toggle container  */
.toggle_container {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
}
.toggle_container .toggle {
  width: 900px;
  display: flex;
  align-items: center;
  margin: 0 auto;
gap: 10px;
  justify-content: center;
  align-items: center;
}
.toggle label {
  width: 70px;
  height: 40px;
  position: relative;
  background-color: var(--textColor);
  display: inline-block;
  border-radius: 50px;
  box-shadow: rgba(0 0 5px 10px 0 rgb(23, 39, 59, 0.5));
  border: 1px solid rgba(65, 105, 225, 0.228);
}
.toggle label::after {
  content: "";
  height: 36px;
  width: 36px;
  /* background-color: var(--secColor); */
  background-image: linear-gradient(30deg,rgb(73, 73, 247),rgb(88, 118, 254),rgb(171, 169, 255));
 box-shadow:
  0 5px 15px rgba(73, 73, 247, 0.25),
  0 10px 25px rgba(88, 118, 254, 0.35);
  position: absolute;
  top: 1px;
  left: 2px;
  transform: translateX(0px);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s linear;
  box-shadow: 0 0 rgba(0 0 5px 10px 0 rgb(23, 39, 59, 0.5));
}
input {
  display: none;
}

input:checked + label::after {
  transform: translateX(28px);
}

.monthly_text{
  opacity: 1;
  font-weight: bold;
  color: var(--secColor);
  
}
.monthly_text.active{
  opacity: 0.4;
  font-weight: normal;
  color: black;
  
}
.yearly_text{
  opacity: 0.4;
  font-weight:bold;
}
.yearly_text.active{
  opacity: 1;
  font-weight: bold;
  color: var(--secColor);
}


.main_price_container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
.Monthly_container {
  margin: 0 auto;
  display: flex;
  gap: 25px;
}
.Monthly_container .card {
  flex: 1;
}
.yearly_container {
  margin: 0 auto;
  display: flex;
  gap: 25px;
  display: none;
}
.yearly_container .card {
  flex: 1;
}

/* price card style  */
.card {
  padding: 25px 30px;
  background-color: var(--textColor);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card::before{
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: linear-gradient(45deg,rgba(78, 154, 253, 0.557),rgb(90, 66, 193));
  border-radius: 50px;
  top: -20px;
  right: -20px;
  filter: blur(50px);
  backdrop-filter: blur(4px);
  opacity: 0.3;
}
.card ul li {
  list-style: none;
  margin: 10px 0;
}
.card ul li::before{
  content: "\f061"; /* fa-check */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: green;
  margin-right: 8px;
}
.card .items {
  margin-top: 25px;
}
.card button {
  margin-top: 20px;
  background-color: var(--secColor);
  border-radius: 50px;
  border: none;
  padding: 12px 26px;
  color: var(--textColor);
  cursor: pointer;
}
.card span {
  font-size: 14px;
}
.card h3 {
  margin: 15px 0;
}

.card.active{
  background-color: rgb(18, 22, 52);
  color: #ffffff;
}
